<ion-content class="container-todo" fullscreen="true">

  <div class="container-content">

    <div class="header">
      <img src="../../../assets/images/tinderLogo.jpg" alt="">
      <ion-title>Welcome</ion-title>
      <h3>Please follow the house roules</h3>
    </div>

    <div class="content">

      <div class="item">
        <h2>Be yourself</h2>
        <h4>Make shure youre phtos and bio are true</h4>
      </div>

      <div class="item">
        <h2>Stay safe</h2>
        <h4>Make shure youre phtos and bio are true</h4>
      </div>

      <div  class="item">
        <h2>Play it cool</h2>
        <h4>Make shure youre phtos and bio are true</h4>
      </div>

    </div>

    <div class="button">
      <app-button
      value="I agree"
      (click)="doFirstTime()"></app-button>
    </div>

  </div>

</ion-content>
