<ion-content [fullscreen]="true">
   <div class="form-wrapper" >
  <form [formGroup]="updateForm" (ngSubmit)="submitUpdate()">

    <div class="photos-container">

<h3>Profile</h3>
        <ion-card *ngFor="let item of imagesUser">
          <img [src]="item" alt="" class="image-card">
        </ion-card>


    </div>



    <ion-card>
        <ion-row>
          <ion-col>
            <app-input
            type="text"
            label="First name"
            placeholder="Your first name"
            labelPlacement="floating"
            [control]="name"
            >
            </app-input>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <app-input
            type="text"
            label="Last name"
            placeholder="Your last name"
            labelPlacement="floating"
            [control]="lastName"
            >

            </app-input>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-input
            type="text"
            label="Country"
            placeholder="Country"
            labelPlacement="floating"
            [control]="country"
            >

            </app-input>
            </ion-col>
          </ion-row>

          <div class="passions-container">
            <h4>Passions</h4>
            <ion-button id="open-modal" expand="block" class="openM">+</ion-button>
         <ion-chip *ngFor="let item of passionsU">
          {{item}}
         </ion-chip>
        </div>

        <ion-row>
          <ion-col>

            <app-button
            type="submit"
            color="primary"
            [disabled]="updateForm.invalid"
            value="Update"
            (click)="submitUpdate()">
            </app-button>


            </ion-col>
        </ion-row>
    </ion-card>

    <app-sheet-modal>

    </app-sheet-modal>
  </form>
</div>
</ion-content>
