ion-input {
  --color: #ff7e7e; /* texto del input */
  --placeholder-color: #ffd6d6; /* color del placeholder */
  --highlight-color-focused: #ffc7c7; /* color del borde al enfocar */
  --highlight-color-valid: #ff7e7e;
  --highlight-color-invalid: #ff4d4d;

  color: #ffecec;
  font-size: 1rem;
  letter-spacing: 0.3px;

  --border-color: #ff7e7e;
  --border-width: 1px;
  --border-radius: 6px;

  transition: all 0.25s ease;
}

/* Estilo cuando tiene la clase border_blue (ahora salmón) */
ion-input.border_blue {
  --border-color: #ff7e7e;
  --border-width: 1px;
}

/* Efecto al enfocar */
ion-input:focus-within {
  box-shadow: 0 0 6px rgba(255, 126, 126, 0.4);
  border-radius: 8px;
}

/* Etiquetas flotantes (labels) */
ion-label {
  color: #ffcaca !important;
  font-weight: 500;
}

/* Toggle de contraseña */
ion-input-password-toggle::part(icon) {
  color: #ff7e7e;
  transition: color 0.2s ease;
}

ion-input-password-toggle::part(icon):hover {
  color: #ff4d4d;
}
