<ion-content [fullscreen]="true">
   <div class="form-wrapper" >
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <img src="../../../assets/images/Tinder_(app)-Logo.wine.svg" alt="">
    <ion-card>

        <ion-row>
          <ion-col>
            <app-input
            type="email"
            label="Email"
            placeholder="exampleEmail@gmail.com"
            labelPlacement="floating"
            [control]="email"
            >
            </app-input>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <app-input
            type="password"
            label="Password"
            placeholder="**************"
            labelPlacement="floating"
            [control]="password"
            >

            </app-input>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <app-button
            type="submit"
            color="primary"
            [disabled]="loginForm.invalid"
            value="Log in">
            </app-button>

            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <a routerLink="/register">
              ¿No tienes una cuenta? crea una aquí.
            </a>
          </ion-col>
        </ion-row>

    </ion-card>

  </form>
</div>
</ion-content>
