<ion-content [fullscreen]="true">
   <div class="form-wrapper" >

      <img src="../../../assets/images/Tinder_(app)-Logo.wine.svg" alt="">
    <div class="text">
      <h3>Passions</h3>
      <h4>Let everyone know what you're passionate about by adding it to your profile.</h4>
    </div>
      <app-chip>

  </app-chip>

 </div>

         <ion-row>
          <ion-col>

            <app-button
            type="submit"
            color="primary"

            value="Register"
            (click)="goNext()">
            </app-button>

            </ion-col>
        </ion-row>
</ion-content>

